.navbar {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  background: #111827;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #60a5fa;
}

.active {
  color: #60a5fa;
  font-weight: bold;
}